@page "{produitId:int}"
@model Calicot.Pages.Produits.DetailModel
@{
}

@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}

<h2>@Model.Produit.Nom</h2>

<div><b>Description:</b> @Model.Produit.Description</div>
<div><b>Prix:</b> @Model.Produit.Prix</div>
<br />
<img style="max-width: 50%; max-height: 50%;" src="@Model.Produit.Photo" />
<br />
<a asp-page="./Liste" class="btn btn-outline-dark">Liste de Produits</a>
